<footer>
<nav class="navbar fixed-bottom navbar-light bg-light nav-foot">
  <a class="btn btn-success flex-nowrap mx-0 mx-lg-auto rounded" href="/submit" role="button">Ask a query</a>
</nav>
</footer>
