
    <nav style="background-color: #1F2833;" class="navbar navbar-expand-lg navbar-dark nav-home">
      <a style="color: #66FCF1;" class="navbar-brand" href="/">gsHUB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="color: #66FCF1;" class="nav-link" href="/about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a style="color: #66FCF1;" class="nav-link" href="/contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a style="color: #66FCF1;" class="nav-link" href="/login-signup">Login/Signup</a>
          </li>
        </ul>
      </div>
    </nav>
