<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>gsHUB</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/about-us.css">
</head>

<body>
<%- include('partials/navbar') %>

<div class="about-section">
  <h1>About Us</h1>
  <p>We are rising developers, trying to add value in the field of education.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <!-- <img src="#" alt="sid" style="width:100%"> -->
      <div class="container">
        <h2>Siddharth Singh</h2>
        <p class="title">Product Owner</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sid@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!-- <img src="#" alt="ritik" style="width:100%"> -->
      <div class="container">
        <h2>Ritik Agrawal</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>rit@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <!-- <img src="#" alt="ishant" style="width:100%"> -->
      <div class="container">
        <h2>Ishant Motwani</h2>
        <p class="title">Product Owner</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>ish@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
