<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="logo.jpg" height="200" width="180">
    <h1 class="display-3">Welcome to gsHUB!</h1>

    <% usersWithQueries.forEach(function(user){ %>
      <p class="query-text"><%=user.query%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Query</a>
  </div>
</div>

<%- include('partials/footer') %>
