
body {
  background-color: #1F2833;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.query-text {
  text-align: center;
  font-size: 2rem;
  color: #66FCF1;
  background-color: #000;
}
